/* style for about container about contianer*/
.about-container {
    text-align: center;
    overflow-x: hidden;
    height: calc(100vh - 7vh);
    width: 100%;
    padding: 0 5rem;
}

/* wrapper container inside about container to make the fix width for bigger screen sizes */
.about-container .container {
    width: 100%;
    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
}

/* about page container which holds heading, image and text */
.about-container__header-holder {
    padding-top: 2%;
    width: 100%;
    height: 100%;
    position: relative;
}

/* watermark effect on about page to the bottom right */
.about-container__header-holder::before {
    content: "MYSELF";
    position: absolute;
    bottom: 4%;
    left: 2%;
    font-size: 5rem;
    font-weight: 700;
    color: hsl(0, 1%, 16%);
    z-index: -1;
}

/* watermark effect on about page to the top left */
.about-container__header-holder::after {
    content: "ME";
    position: absolute;
    top: 15%;
    right: 2%;
    font-size: 5rem;
    font-weight: 700;
    color: hsl(0, 1%, 16%);
    z-index: -1;
}

/* about page heading */
.about-container h1 {
    font-size: 4rem;
}

/* about page text paragarph which describe about myself */
.about-container__headings p {
    color: var(--secondary-font-dark-color);
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.7;
    border: 1px solid var(--secondary-font-dark-color);
    padding: 1rem 1rem;
}

/* style for image and text container */
.about-container__headings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    margin: 3% 0;
}
/* style for image container */
.about-container__headings__image-holder {
    position: relative;
    width: auto;
    height: auto;
    max-width: 450px;
    margin-right: 1rem;
    align-self: stretch;
}

/* style for the image */
.about-container__headings__image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* code for border line animation around the image */
.about-container__headings__image-holder::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -5%;
    left: -5%;
    border: 4px solid transparent;
    animation: borderAnim;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.about-container__headings__image-holder::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -5%;
    left: -5%;
    border: 4px solid transparent;
    animation: borderAnimRight;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
}

/* animation for borderline around images */
@keyframes borderAnim {
    0% {
        width: 0;
        height: 0;
        border-top-color: tranparent;
    }
    50% {
        width: 110%;
        height: 0;
        border-top-color: var(--font-red-light-color);
    }
    70% {
        width: 110%;
        height: 110%;
        border-top-color: tranparent;
        border-right-color: var(--font-red-light-color);
    }
    100% {
        width: 110%;
        height: 110%;
        border-right-color: tranparent;
    }
}

@keyframes borderAnimRight {
    0% {
        width: 0;
        height: 0;
        border-left-color: tranparent;
    }
    50% {
        width: 0;
        height: 110%;
        border-left-color: var(--font-red-light-color);
    }
    70% {
        width: 110%;
        height: 110%;
        border-left-color: tranparent;
        border-bottom-color: var(--font-red-light-color);
    }
    100% {
        width: 110%;
        height: 110%;
        border-bottom-color: tranparent;
    }
}

/* animation for about page heading */
.about-container__header-holder .about_heading_text {
    animation-name: headingAboutAnim;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes headingAboutAnim {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

/* code for different screen sizes */

@media screen and (max-width: 1024px) and (orientation: portrait) {
    /* display the text paragraph below the image */
    .about-container__headings {
        flex-direction: column;
    }
    /*  style for about page image holder */
    .about-container__headings__image-holder {
        margin-top: 3%;
        margin-right: 0;
        margin-bottom: 8%;
        align-self: center;
    }

    .about-container__headings p {
        font-size: 1.5rem;
    }

    .about-container h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 850px) {
    /* decrease the padding of main about container */
    .about-container {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    /* flex paragraph below of the image on medium screen */
    .about-container__headings {
        flex-direction: column;
    }
}

/* style for landscape mode */
@media screen and (max-width: 960px) and (orientation: landscape) {
    /* flex paragraph below of the image on medium screen */
    .about-container__headings {
        flex-direction: column;
    }

    /* create the gap between paragraph and image. image holder will align center to the paragraph */
    .about-container__headings__image-holder {
        margin-bottom: 10%;
        align-self: center;
        margin-top: 4%;
    }
}

@media screen and (max-width: 670px) and (orientation: landscape) {
    .about-container h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 570px) and (orientation: landscape) {
    .about-container h1 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 480px) {
    /* reduce the padding of main about container */
    .about-container {
        padding: 0 1rem;
    }
    .about-container h1 {
        font-size: 2rem;
        margin-top: 2%;
    }

    .about-container__headings p {
        font-size: 1rem;
        line-height: 1.4;
        padding: 0.2rem 0.5rem;
    }
}

@media screen and (max-width: 280px) {
    .about-container h1 {
        font-size: 2rem;
    }
    /* create space between lines on extra small screen */
    .about-container__headings p {
        font-size: 1rem;
        line-height: 1.2;
        padding: 0.1rem 0.3rem;
    }

    .about-container__header-holder::after {
        top: 7%;
    }
}
