.about-container {
    text-align: center;
    overflow-x: hidden;
    height: calc(100vh - 7vh);
    width: 100%;
    padding: 0 5rem;
}

.about-container .container {
    width: 100%;
    max-width: 1500px;
    height: 100%;
    margin: 0 auto;
}
.about-container__header-holder {
    padding-top: 2%;
    width: 100%;
    height: 100%;
    position: relative;
}
.about-container__header-holder::before {
    content: "MYSELF";
    position: absolute;
    bottom: 4%;
    left: 2%;
    font-size: 5rem;
    font-weight: 700;
    color: hsl(0, 1%, 16%);
    z-index: -1;
}
.about-container__header-holder::after {
    content: "ME";
    position: absolute;
    top: 15%;
    right: 2%;
    font-size: 5rem;
    font-weight: 700;
    color: hsl(0, 1%, 16%);
    z-index: -1;
}

.about-container h1 {
    font-size: 4rem;
}

.about-container__headings p {
    color: var(--secondary-font-dark-color);
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.7;
    border: 1px solid var(--secondary-font-dark-color);
    padding: 1rem 1rem;
}

.about-container__headings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    margin: 3% 0;
}
.about-container__headings__image-holder {
    position: relative;
    width: auto;
    height: auto;
    max-width: 450px;
    margin-right: 1rem;
}
.about-container__headings__image-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-container__headings__image-holder::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -5%;
    left: -5%;
    border: 4px solid transparent;
    animation: borderAnim;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.about-container__headings__image-holder::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -5%;
    left: -5%;
    border: 4px solid transparent;
    animation: borderAnimRight;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
}

@keyframes borderAnim {
    0% {
        width: 0;
        height: 0;
        border-top-color: tranparent;
    }
    50% {
        width: 110%;
        height: 0;
        border-top-color: var(--font-red-light-color);
    }
    70% {
        width: 110%;
        height: 110%;
        border-top-color: tranparent;
        border-right-color: var(--font-red-light-color);
    }
    100% {
        width: 110%;
        height: 110%;
        border-right-color: tranparent;
    }
}

@keyframes borderAnimRight {
    0% {
        width: 0;
        height: 0;
        border-left-color: tranparent;
    }
    50% {
        width: 0;
        height: 110%;
        border-left-color: var(--font-red-light-color);
    }
    70% {
        width: 110%;
        height: 110%;
        border-left-color: tranparent;
        border-bottom-color: var(--font-red-light-color);
    }
    100% {
        width: 110%;
        height: 110%;
        border-bottom-color: tranparent;
    }
}

.about-container__header-holder .about_heading_text {
    animation-name: headingAboutAnim;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes headingAboutAnim {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    .about-container__headings {
        flex-direction: column;
    }
    .about-container__headings__image-holder {
        margin-top: 3%;
        margin-right: 0;
        margin-bottom: 8%;
    }

    .about-container__headings p {
        font-size: 1.5rem;
    }

    .about-container__header-holder::after {
        top: 10%;
    }

    .about-container h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 850px) {
    .about-container {
        padding: 0 3rem;
    }
}
/* @media screen and (max-width: 1024px) and (orientation: landscape) {
    .about-container__headings {
        flex-direction: row;
        align-items: stretch;
        padding: 0 5%;
    }
    .about-container__headings__image-holder {
        position: relative;
        width: 90rem;
        height: 21rem;
        margin: 0;
    }
} */
@media screen and (max-width: 768px) and (orientation: portrait) {
    .about-container__headings {
        flex-direction: column;
    }

    .about-container__header-holder::after {
        top: 10%;
    }
}

/* @media screen and (max-width: 812px) and (orientation: landscape) {
    .about-container__headings {
        align-items: stretch;
    }
    .about-container__headings__image-holder {
        position: relative;
        width: 90rem;
        height: 14rem;
        margin: 0;
    }
    .about-container h1 {
        font-size: 2.5rem;
    }

    .about-container__headings p {
        font-size: 1rem;
        line-height: 1.7;
    }
}

@media screen and (max-width: 736px) and (orientation: landscape) {
    .about-container__headings {
        align-items: stretch;
    }
    .about-container__headings__image-holder {
        position: relative;
        width: 90rem;
        height: 16rem;
        margin: 0;
    }
}

@media screen and (max-width: 568px) and (orientation: landscape) {
    .about-container__headings {
        align-items: stretch;
    }
    .about-container__skills__list {
        grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    }
    .about-container__headings__image-holder {
        position: relative;
        width: 80rem;
        height: 10rem;
        margin: 0;
    }
    .about-container h1 {
        font-size: 2rem;
    }

    .about-container__headings p {
        font-size: 0.7rem;
        line-height: 1.4;
    }
} */

@media screen and (max-width: 480px) {
    .about-container {
        padding: 0 1rem;
    }
    .about-container h1 {
        font-size: 2rem;
        margin-top: 2%;
    }

    .about-container__headings p {
        font-size: 1rem;
        line-height: 1.4;
        padding: 0.2rem 0.5rem;
    }
}

@media screen and (max-width: 280px) {
    .about-container h1 {
        font-size: 2rem;
    }
    .about-container__headings p {
        font-size: 1rem;
        line-height: 1.2;
        padding: 0.1rem 0.3rem;
    }

    .about-container__header-holder::after {
        top: 7%;
    }
}
