.about-container {
    text-align: center;
    overflow: hidden;
}
.about-container__header-holder {
    padding-top: 2%;
    height: 98vh;
    width: 100%;
    position: relative;
}
.about-container__header-holder::before {
    content: "MYSELF";
    position: absolute;
    bottom: 4%;
    left: 2%;
    font-size: 5rem;
    font-weight: 700;
    color: hsl(0, 1%, 16%);
    z-index: -1;
}
.about-container__header-holder::after {
    content: "ME";
    position: absolute;
    top: 15%;
    right: 2%;
    font-size: 5rem;
    font-weight: 700;
    color: hsl(0, 1%, 16%);
    z-index: -1;
}

.about-container h1 {
    font-size: 4rem;
}

.about-container__headings p {
    color: var(--secondary-font-dark-color);
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.7;
    border: 1px solid var(--secondary-font-dark-color);
    padding: 1em 1em;
    margin-right: 1em;
}

.about-container__headings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    margin: 3% 0;
}
.about-container__headings__image-holder {
    position: relative;
    width: 90em;
    height: 100%;
    height: 20em;
    background-color: var(--lighter-dark-color);
}
.about-container__headings__image-holder img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 1;
}

.about-container__skills {
    padding-top: 2%;
    height: 100vh;
    position: relative;
}

.about-container__skills::before {
    content: "HTML CSS";
    position: absolute;
    top: 20%;
    left: 2%;
    font-size: 5rem;
    font-weight: 700;
    color: hsl(0, 1%, 16%);
    z-index: -1;
}
.about-container__skills::after {
    content: "JAVASCRIPT REACTJS";
    position: absolute;
    bottom: 0%;
    right: 2%;
    font-size: 5rem;
    font-weight: 700;
    color: hsl(0, 1%, 16%);
    z-index: -1;
}
.about-container__skills h1 {
    font-size: 3rem;
}

.about-container__skills__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    justify-content: center;
}

.about-container__headings__image-holder::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -5%;
    left: -5%;
    border: 4px solid transparent;
    animation: borderAnim;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.about-container__headings__image-holder::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -5%;
    left: -5%;
    border: 4px solid transparent;
    animation: borderAnimRight;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
}

@keyframes borderAnim {
    0% {
        width: 0;
        height: 0;
        border-top-color: tranparent;
    }
    50% {
        width: 110%;
        height: 0;
        border-top-color: var(--font-red-light-color);
    }
    70% {
        width: 110%;
        height: 110%;
        border-top-color: tranparent;
        border-right-color: var(--font-red-light-color);
    }
    100% {
        width: 110%;
        height: 110%;
        border-right-color: tranparent;
    }
}

@keyframes borderAnimRight {
    0% {
        width: 0;
        height: 0;
        border-left-color: tranparent;
    }
    50% {
        width: 0;
        height: 110%;
        border-left-color: var(--font-red-light-color);
    }
    70% {
        width: 110%;
        height: 110%;
        border-left-color: tranparent;
        border-bottom-color: var(--font-red-light-color);
    }
    100% {
        width: 110%;
        height: 110%;
        border-bottom-color: tranparent;
    }
}

.about-container__header-holder .about_heading_text {
    animation-name: headingAboutAnim;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes headingAboutAnim {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

.about-container__skills h1 {
    animation-name: skillAboutAnim;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes skillAboutAnim {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}
@media screen and (max-width: 768px) {
    .about-container__headings {
        flex-direction: column;
    }
    .about-container__headings p {
        margin-right: 0;
    }
    .about-container__headings__image-holder {
        position: relative;
        width: 60%;
        height: 25em;
        background-color: var(--lighter-dark-color);
        margin-top: 5%;
    }
    .about-container__header-holder::after {
        top: 10%;
    }

    .about-container__skills::before {
        top: 14%;
        font-size: 4rem;
    }
    .about-container__skills::after {
        bottom: 0%;
        font-size: 4rem;
    }
}

@media screen and (max-width: 480px) {
    .about-container h1 {
        font-size: 3rem;
        margin-top: 2%;
    }
    .about-container__skills__list {
        grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    }
    .about-container__headings p {
        font-size: 1rem;
        line-height: 1.4;
        padding: 0.2em 0.5em;
        margin-top: 2%;
    }
    .about-container__headings__image-holder {
        height: 13em;
    }
    .about-container__skills::before {
        top: 15%;
        font-size: 4rem;
    }
}

@media screen and (max-width: 320px) {
    .about-container h1 {
        font-size: 2.5rem;
    }
    .about-container__headings p {
        font-size: 1rem;
        line-height: 1.2;
        padding: 0.1em 0.3em;
    }
    .about-container__headings__image-holder {
        height: 10em;
    }
    .about-container__header-holder::after {
        top: 7%;
    }
    .about-container__skills::before {
        top: 15%;
        font-size: 4rem;
    }
}
