.card-holder {
    background-color: var(--secondary-font-color);
    padding: 0.6rem;
    position: relative;
    overflow: hidden;
    margin: 1rem 0;
    text-align: left;
}

.card-holder img {
    width: 100%;
    height: 10rem;
}

.card-holder h2,
p,
p span,
a {
    color: var(--primary-color);
}

.card-holder > h2 {
    margin-top: 0.8rem;
}

.card-holder p {
    margin: 1.3rem 0;
}

.card-holder h2 {
    text-decoration: underline;
}

.card-holder .tech-para {
    font-weight: bold;
}

.button-holder {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0.6rem;
    position: relative;
}

.button-holder .btn {
    width: 100%;
    padding: 0.8rem 0.6rem;
    background: var(--secondary-color);
    text-align: center;
    margin-left: 1px;
    position: relative;
    z-index: 1;
    border: none;
    background-color: none;
    font-size: 1rem;
}
.button-holder .btn a {
    width: 100%;
    height: 100%;
}

.button-holder .btn a,
span {
    color: var(--secondary-font-color);
}
.button-holder .btn a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.button-holder .btn a span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-holder a:first-child {
    margin-right: none;
}

.button-holder a::before {
    content: "";
    position: absolute;
    background-color: var(--font-red-light-color);
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transition: all 0.4s ease;
    transform-origin: left;
}

.button-holder a:hover {
    color: var(--secondary-font-color);
}
.button-holder a:hover::before {
    transform: scaleX(1);
}

@media screen and (min-width: 720px) {
    .card-holder {
        margin: 1rem;
    }
}

@media screen and (max-width: 820px) {
    .card-holder {
        margin: 0.5rem;
    }
    .button-holder .btn {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 480px) {
    .card-holder {
        margin: 1rem 0rem;
    }
}
