.skill-card-holder {
    padding: 2rem 0;
}
.skill-card-holder p {
    color: var(--secondary-font-dark-color);
    color: var(--font-red-light-color);
    font-size: 5rem;
}

.skill-card-holder h2 {
    color: var(--secondary-font-color);
}

/* @media screen and (max-width: 812px) and (orientation: landscape) {
    .skill-card-holder {
        margin-top: 10%;
    }
    .skill-card-holder p {
        font-size: 3.5rem;
    }
    .skill-card-holder h2 {
        font-size: 1.2rem;
    }
} */

/* @media screen and (max-width: 568px) and (orientation: landscape) {
 
    .skill-card-holder p {
        font-size: 2rem;
    }
    .skill-card-holder h2 {
        font-size: 1rem;
    }
} */

@media screen and (max-width: 580px) and (orientation: portrait) {
    .skill-card-holder p {
        font-size: 2.5rem;
    }
    .skill-card-holder h2 {
        font-size: 1rem;
    }
}
