.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.header p {
    font-size: 1.1rem;
    color: var(--secondary-font-dark-color);
    margin-bottom: 0.7em;
    margin-top: 0.7em;
}
.header p:first-child {
    margin-top: 0;
}
.header p:last-child {
    margin-bottom: 0;
}

.header h1 {
    font-size: 3rem;
}

.header span {
    color: var(--font-red-light-color);
}

.header span div {
    display: inline-block;
    margin-left: 0.3em;
}

.header__social {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.header__social__icons {
    margin-right: 1.5rem;
}

.header__item {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5%;
}

.header__image {
    height: auto;
    width: 40%;
    min-width: 250px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background: linear-gradient(
        to right,
        var(--font-red-light-color) 60%,
        hsl(341, 86%, 45%)
    );

    padding: 5rem;
    padding-bottom: 0;
    padding-right: 0;
}
.header__image img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media screen and (min-width: 0px) {
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
    .header h1 {
        font-size: 1.1rem;
    }
    .header span {
        font-size: 1.1rem;
    }
    .header__item {
        width: 100%;
    }

    .header__image {
        width: 100%;
    }
    .header p {
        font-size: 0.7rem;
    }
    .header span::before {
        width: 15px;
        height: 2px;
    }
    .header__social {
        margin-top: 1rem;
    }

    .header__social__icons {
        margin-right: 1rem;
    }
}

@media screen and (min-width: 320px) {
    .header h1 {
        font-size: 1.4rem;
    }
    .header span {
        font-size: 1.4rem;
    }
    .header p {
        font-size: 0.8rem;
    }
    .header span::before {
        width: 15px;
        height: 2px;
    }
    .header__social {
        margin-top: 0.5rem;
    }

    .header__social__icons {
        margin-right: 1rem;
    }
}
@media screen and (min-width: 712px) {
    .header {
        padding-top: 0;
    }
    .header h1 {
        font-size: 3rem;
    }

    .header p {
        font-size: 1.5rem;
    }

    .header span {
        font-size: 3rem;
    }
    .header__item {
        padding-bottom: 0;
        height: 35%;
    }
    .header__image {
        height: 65%;
    }
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
    .header {
        flex-direction: row;
    }
    .header h1 {
        font-size: 2rem;
    }

    .header p {
        font-size: 1rem;
    }
    .header span {
        font-size: 2rem;
    }

    .header__item {
        width: 60%;
        height: 100%;
    }
    .header__image {
        width: 40%;
        height: auto;
    }
}

@media screen and (max-width: 860px) and (orientation: landscape) {
    .header {
        flex-direction: column;
        height: auto;
        margin-top: 1%;
    }

    .header__item {
        width: 100%;
    }

    .header__image {
        width: 100%;
    }

    .header h1 {
        font-size: 2rem;
    }

    .header p {
        font-size: 1rem;
    }

    .header span {
        font-size: 2rem;
    }
}

@media screen and (min-width: 0px) and (orientation: landscape) {
    .header__item {
        margin-bottom: 1%;
    }
}

@media screen and (min-width: 1200px) and (orientation: landscape) {
    .header {
        flex-direction: row;
    }
    .header h1 {
        font-size: 3rem;
    }

    .header p {
        font-size: 1.1rem;
    }

    .header__item {
        width: 60%;
        height: 100%;
    }
    .header__image {
        width: 40%;
        height: auto;
    }
}
