.content-container {
    width: 100%;
    padding: 0 5rem;
    height: calc(100vh - 7vh);
    overflow: scroll;
    position: relative;
}

.content-container .container {
    height: 100%;
    width: 100%;
    padding: 0;
}

.content-container .container .hero {
    height: 100%;
    width: 100%;
    padding: 0;
}

.particle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
}

@media screen and (max-width: 850px) {
    .content-container {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 480px) {
    .content-container {
        padding: 1rem 1rem;
    }
}

@media screen and (max-width: 280px) {
    .content-container {
        padding: 1rem 1rem;
    }
}
