.content-container {
    max-width: 1440px;
    display: block;
    margin: auto;
    height: 93vh;
    overflow: hidden;
    position: relative;
}

.particle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
}
