/* style for navbar height of navbar is excat to list*/

.navbar {
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0em 5rem;
}

/* style for navbar holder  */
.navbar .navbar-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7vh;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
}

/* nav links holder */
.navbar__items__holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* style for anchor tag */
.navbar__items__holder a {
    color: var(--secondary-font-color);
}

.navbar__items__holder li a {
    display: inline-block;
    transition: all 0.4s ease;
    font-size: 1.1rem;
}

/* style for list and height of navbar is exact the  height of list */
.navbar__items__holder li {
    margin-left: 2rem;
    text-align: center;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.navbar__items__holder .nav-active {
    color: var(--font-red-light-color);
}

.navbar__items__holder li:first-child a {
    margin-left: 0;
}

.navbar__items__holder li:hover {
    background: var(--primary-color);
}

/* style for navbar logo */
.navbar__items.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-red-light-color);
    cursor: pointer;
}

.navbar__items.logo h3 {
    font-size: 1.5rem;
}
.navbar__items__icon {
    font-size: 1.6rem;
    margin-right: 0.2rem;
    margin-top: 0.1rem;
    color: var(--primary-font-color);
}

/* style for hambugrger menu */
.hamburger {
    display: none;
    font-size: 1.3rem;
    color: var(--secondary-font-color);
}

/* styel for different size of screen sizes */
@media screen and (max-width: 1200px) {
    .navbar__items__icon {
        font-size: 2.5rem;
    }
    .navbar__items.logo h3 {
        font-size: 2rem;
    }
    .navbar__items__holder li a {
        font-size: 1.4rem;
    }

    .navbar__items__holder li {
        margin-left: 0;
        padding: 2.2rem 1.5rem;
    }
}

@media screen and (max-width: 850px) {
    .navbar {
        padding: 0;
    }
    .navbar .navbar-holder {
        padding: 0 3rem;
    }
    /* style for sidebar */
    .navbar__items__holder {
        position: absolute;
        width: auto;
        height: calc(100vh - 7vh);
        z-index: -1;
        overflow-y: scroll;
        right: -100%;
        top: 100%;
        flex-direction: column;
        background-color: var(--lighter-dark-color);
        text-align: right;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s cubic-bezier(0.86, -0.15, 0.48, 1.17);
    }

    .navbar__items__holder.active {
        right: 0%;
        visibility: visible;
        opacity: 1;
    }
    .navbar__items__holder li a {
        display: block;
        margin: 0;
    }
    .navbar__items__holder li {
        margin-left: 0;
        width: 100%;
        height: auto;
        padding: 2rem 3.5rem;
    }
    .hamburger {
        display: block;
        font-size: 2rem;
    }
    .navbar__items__icon {
        font-size: 2rem;
    }
    .navbar__items.logo h3 {
        font-size: 1.9rem;
    }
}

@media screen and (max-width: 480px) {
    .navbar .navbar-holder {
        padding: 0 1rem;
    }
    .navbar__items.logo h3 {
        font-size: 1.5rem;
    }
    .navbar__items__icon {
        font-size: 1.7rem;
    }

    .navbar__items__holder li {
        margin-left: 0;
        padding: 1.5rem 3.5rem;
    }
    .navbar__items.logo h3 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 280px) {
    .navbar .navbar-holder {
        padding: 0 1rem;
    }
    .navbar__items.logo h3 {
        font-size: 1.5rem;
    }
    .navbar__items__icon {
        font-size: 1.7rem;
    }

    .navbar__items__holder li {
        margin-left: 0;
        padding: 1.5rem 3.5rem;
    }
    .navbar__items.logo h3 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 960px) and (orientation: landscape) {
    .navbar .navbar-holder {
        height: auto;
    }

    .navbar__items.logo h3 {
        font-size: 1.5rem;
    }
    .navbar__items__icon {
        font-size: 2rem;
    }
    .navbar__items__holder li a {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 860px) and (orientation: landscape) {
    .navbar__items__holder li {
        height: 100%;
        padding: 1rem 1.3rem;
    }
    .navbar__items.logo h3 {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 850px) and (orientation: landscape) {
    .navbar__items__holder li {
        height: auto;
        padding: 1.2rem 3.5rem;
    }
}

@media screen and (max-width: 660px) and (orientation: landscape) {
    .navbar__items__holder li {
        height: auto;
        padding: 0.8rem 3.5rem;
    }
}

@media screen and (max-width: 568px) and (orientation: landscape) {
    .navbar__items.logo h3 {
        font-size: 1.4rem;
    }
    .navbar__items__icon {
        font-size: 1.5rem;
    }
}
