/* style for social icons */
.social-icons {
    background: var(--primary-color);
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    color: var(--secondary-font-dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    box-shadow: -1px -1px 3px var(--lighter-dark-color),
        2px 2px 5px var(--lighter-dark-color);
    cursor: pointer;
    transition: transform 0.1s ease;
}

.social-icons:hover {
    color: var(--secondary-font-color);
    transform: scale(1.2);
}

/* style for different screen sizes */
@media screen and (min-width: 280px) and (orientation: portrait) {
    .social-icons {
        font-size: 1rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}

@media screen and (min-width: 712px) and (orientation: portrait) {
    .social-icons {
        font-size: 1.2rem;
        width: 3rem;
        height: 3rem;
    }
}
